.blog { 
    color: var(--color-black);
    background-color: #F7F9FA;
}

.blog__container { 
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-block: 80px;
}

.blog__container-title { 
    display:flex;
    justify-content: space-between;
    padding-right: 32px;
    align-items: center;
}

.blog__title { 
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.blog__title-link {
    font-size: 17px;
    color: #0070A0;
}

.blog__container-content { 
    display: flex;
    justify-content: center;
    gap: 32px;
}

.blog__content-post {
    background-color: white;
    width: 355px;
    height: 487px;
}

.blog__post-content { 
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 25px;
}

.blog__content-tag { 
    display: flex;
    background-color: #E6F7FF;
    color: #2C90C9;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: fit-content;
    padding: 0px 22px;
    font-size: 12px;
}

.blog__content-title { 
    font-family: 'Fraunces', sans-serif;
    font-weight: 300;
    font-size: 25px;
    width: 301px;
}

.blog__content-text { 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blog__text-description { 
    font-size: 14px;
}

.blog__text-date {
    font-size: 12px;
}