.button-primary {
  color: var(--color-white);
  width: fit-content;
  padding: 12px 32px;
  font-size: 17px;
  background-color: var(--color-blue-primary);
  border: none;
}

.button-secondary {
  color: var(--color-white);
  padding: 10px 20px;
  width: fit-content;
  font-weight: 500;
  font-size: 15px;
  background-color: var(--color-blue-primary);
  border: none;
}
