.facts { 
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
}

.facts__container { 
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-block: 120px;

}

.first { 
    background-color: var(--color-maize);
    color: var(--color-black);
}
.second { 
    background-color: #CCEFF6;
    color: var(--color-black);
}
.third { 
    background-color: #F7CEDC;
    color: var(--color-black);
}

.facts__container-content { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 355px;
    height: 250px;
    padding-left: 32px;
    padding-top: 32px;
}

.facts__container-title { 
    font-family: 'Fraunces', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.facts__container-description { 
    font-size: 15px;
    width: 287px;
}