.header {
  background-color: var(--color-background-primary);
  line-height: 1.25;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header__container {
  padding-block: 26px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.header__container-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__content-list {
  display: flex;
  float: left;
  column-gap: 24px;
}

.header__list-item {
  font-size: 15px;
  color: var(--color-text-primary)
}

.header__actions {
  color: var(--color-blue-primary);
  display: flex;
  align-items: center;
  column-gap: 31px;
}