.header {
  background-color: #ffffff;
  line-height: 1.25;
}

.header__container {
  padding-block: 26px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__container-list {
  display: flex;
  float: left;
  column-gap: 24px;
}

.header__container-item {
  font-size: 15px;
  color: #33383F
}

.header__actions {
  color: #0070A0;
  display: flex;
  align-items: center;
  column-gap: 31px;
}