.hero {
    color: var(--text-primary);
    background-color:var(--color-background-primary);
    line-height: 1.25;
}

.hero__container-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0;
}

.hero__content{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.hero__content-title {
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    font-size: 58px;
    width: 485px;
}

.hero__content-description { 
    font-size: 20px;
    width: 340px;
    line-height: 30px;
}

.hero__content-actions { 
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 17px;
}

.hero__actions-link {
    display: flex;
    color: var(--color-blue-primary);
    gap: 5px;
}

@media (width <= 760px) { 
    .hero__container-content { 
        display: flex;
        flex-direction: column;

    }

    .hero__content-title { 
        font-size: 32px;
        width: 300px;
    }
    
    .hero__content-description { 
        font-size: 16px;
    }

    .hero__content-img {
        display: none;
    }
}

@media (760px < width <= 1020px) { 
    .hero__content-title { 
        font-size: 42px;
    }

    .hero__content-description { 
        font-size: 18px;
        width: 400px;
    }
}