.services { 
    color: var(--color-primary);
    background-color: #F7F9FA;
}

.services__container { 
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-block: 80px;
}

.services__title-top { 
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    font-size: 42px;
}

.services__title-bottom { 
    font-family: 'Fraunces', sans-serif;
    font-weight: 400;
    font-size: 39px;
}

.services__container-content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__content-actions { 
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.services__actions-dropdown { 
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 450px;
    border-top: 1px solid #C2CDD8;
    border-bottom: 1px solid #C2CDD8;
    padding-top: 16px;
    padding-left: 12px;
}

.services__dropdown-summary { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 373px;
    font-family: 'Fraunces', sans-serif;
    font-size: 21px;
    padding-bottom: 16px;
}

.services__dropdown[open] .services__dropdown-icon {
  transform: rotate(180deg);
}

.services__dropdown-description { 
    font-size: 16px;
    padding-bottom: 16px;
}


 
