@font-face {
  font-family: 'Inter', sans-serif;
  src: url("../../../public/fonts/Inter-SemiBold.woff2") format('woff2');
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fraunces';
  src: url("../../../public/fonts/Fraunces--latin_basic.woff2") format('woff2');
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-display: swap;
}